<div class="row justify-content-center">
    <div class="col-sm-5">
        <mat-card>
            <h3 class="text-center">Nashik Division</h3>
            <div class="form-group text-align-center">
                <mat-radio-group>
                    <mat-radio-button color="primary" [value]="1">7/12</mat-radio-button>
                    <mat-radio-button color="primary" [value]="2">8A</mat-radio-button>
                </mat-radio-group>
            </div>
            <form>
                <mat-form-field class="w-100">
                    <mat-select formControlName="district" placeholder="District"
                        (selectionChange)="onDistrictSelect($event.value)">
                        <mat-option *ngFor="let item of district" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.district.errors?.required">please select option</mat-error>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-select formControlName="taluka" placeholder="Taluka"
                        (selectionChange)="onTalukaSelect($event.value)">
                        <mat-option *ngFor="let item of filteredTaluka" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.taluka.errors?.required">please select option</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-select formControlName="village" placeholder="Village">
                        <mat-option *ngFor="let item of filteredVillage" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.village.errors?.required">please select option</mat-error>
                </mat-form-field>
                <mat-radio-group formControlName="searchType">
                    <mat-radio-button value="1" color="primary" class="person-radio-button">Survey no/gat no
                    </mat-radio-button>
                    <mat-radio-button value="2" color="primary" class="person-radio-button">Survey no in words/gat no
                    </mat-radio-button>
                    <mat-radio-button value="3" color="primary" class="person-radio-button">First Name
                    </mat-radio-button>
                    <mat-radio-button value="4" color="primary" class="person-radio-button">Middle Name
                    </mat-radio-button>
                    <mat-radio-button value="5" color="primary" class="person-radio-button">Surname</mat-radio-button>
                    <mat-radio-button value="6" color="primary" class="person-radio-button">Full Name</mat-radio-button>
                </mat-radio-group>
                <mat-form-field class="w-100">
                    <mat-select formControlName="totalCount" placeholder="Village Total Name [2522]">
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card>
    </div>
</div>