<div class="d-flex align-items-center h-100 full-width-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <div class="alert alert-danger" role="alert" *ngIf="submitted">
          Username or password is incorrect
        </div>
        <mat-card>
          <h3 class="text-center">Login</h3>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Username" formControlName="username">
              <mat-error *ngIf="data.username.errors?.required">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="data.password.errors?.required">Password is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-select formControlName="grampanchayatName" placeholder="Grampanchayat Name">
                <mat-option *ngFor="let country of countries" [value]="country.short">
                  {{country.full}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="data.grampanchayatName.errors?.required">please select option</mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-between mb-2">
              <button mat-raised-button color="primary">Login</button>
              <a [routerLink]="['/login']" mat-button color="primary">forgot password</a>
            </div>
            <mat-divider></mat-divider>
            <div class="d-flex justify-content-center">
              <a [routerLink]="['/register']" class=" ml-2"  mat-button color="primary">Register</a>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>