<mat-toolbar color="primary">
  <img src="../../assets/images/headerNew.png">
  <mat-toolbar-row class="justify-content-between">

    <button [routerLink]="['/dashboard']" mat-button>Search</button>
    <button [routerLink]="['/auth/login']" mat-button>Login</button>
    <button [routerLink]="['/auth/register']" mat-button>Register</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="d-flex align-items-center h-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <mat-card>
          <img mat-card-image src="../../assets/images/MH_map.jpg" alt="Photo of a MH map">
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>